@font-face {
	font-family: 'Pokemon Classic';
	src: url(fonts/Pokemon_classic.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Pokemon Classic';
	box-sizing: border-box;
}

$black: #555;
$white: fff;

$colors: (
	pallet: #b888f8,
	viridian: #7ff71f,
	pewter: #909078,
	cerulean: #2840f8,
	vermillion: #f89800,
	lavender: #c820f8,
	celadon: #28f828, 
	safron: #f8f800,
	fuschia: #f87878,
	cinnabar: #f84040 
);

$secondary-color: #58b8f8;

$primary-font: 'Pokemon Classic', monospace;

$pixel: 0.25rem; 
$roof-skew: 24deg; 

function calcRelativeSize($val) {
	@return calc(100% - (#{$pixel} * #{$val}));
}

@mixin windowDeets($shineSize, $shadowHeight: $pixel, $shineColor: var(--primary-color), $shadowCoder
:var (--secondary-color)) {
	&::before,
	&::after {
		content '';
		position: absolute;
	}

	&::before {
		top: 0;
		left: 0;
		height: 0;
		width: 0;
		border-left: solid ($pixel * $shineSize) $shineColor;
		border-top: solid ($pixel * $shineSize) $shineColor;
		border-bottom: solid ($pixel * $shineSize) transparent;
		border-right: solid ($pixel * $shineSize) transparent;
	}
}