@font-face {
	font-family: 'Pokemon Classic';
	src: url(fonts/Pokemon_classic.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Pokemon Classic';
	box-sizing: border-box;
}

$black: #555;
$white: fff;

$colors: (
	pallet: #b888f8,
	viridian: #7ff71f,
	pewter: #909078,
	cerulean: #2840f8,
	vermillion: #f89800,
	lavender: #c820f8,
	celadon: #28f828, 
	safron: #f8f800,
	fuschia: #f87878,
	cinnabar: #f84040 
);