@font-face {
  font-family: "Pokemon Classic";
  src: url(fonts/Pokemon_classic.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Pokemon Classic";
  box-sizing: border-box;
}

:root {
  --base-color: #fff;
  --primary-color: #b888f8;
  --secondary-color: #58b8f8; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eaeaea;
  font-family: "Pokemon GB", monospace;
  font-size: 16px;
  line-height: 1.875em;
}